@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: sm;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color : #1f242d;
    --second-bg-color : #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);

}

section {
    min-height: 100vh;
    background-color: var(--bg-color);
    padding: 10rem 9% 2rem;
}

.header{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 2rem 9%;
 background: var(--bg-color);
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;   
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 35vw;
    margin-left: 2rem;
    animation: floatImage 4s ease-in-out infinite;
} 

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }

}


.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
span {
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

/*education section styling*/

.education h2 {
    margin-top: 0.8rem;
    line-height: 1.2rem;
}


.heading {
    text-align: center;
    font-size: 4.5rem;
}
.college-details {

    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.college-details img {
    max-width: 100px;
    margin-right: 20px;

    animation: floatImage 4s ease-in-out infinite;
} 


.education-content h2{
    text-align: center;
    line-height: 1.2;
}
.education-content h4 {
    font-size: 2.2rem;
    color: #0ef;
}
.education-content .sub-heading {
    font-size: 2.6rem;
}
.education-content p{
    font-size: 1.6rem;

}
.certifications a {
    text-decoration: none;
    color: #0ef;
}

.achievements a {
    text-decoration: none;
    color: #0ef;
}

/*experience section styling*/
.experience .internship-title {
    color: #0ef;
    font-size: 2.2rem;
}

.experience .org-duration {
    font-size: 2.2rem;
}
.experience p {
    font-size: 1.6rem;
    line-height: 1.9;
}
/* projects section styling*/
.projects h2{
    margin-top: 0.8rem;

}
.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.projects-container .projects-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;

}

.projects-container .projects-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.projects-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.projects-box h3{
    font-size: 2.6rem;
}

.projects-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.btn {
    display: inline-block; /* Make the button a block element */
    margin-top: 15px; /* Adjust the top margin as needed */
}

.center-button {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* Adjust the margin as needed */
        text-align: center; /* Center text horizontally */
}


/* contact section stylings*/
.contact h2{
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/*breakpoints*/
@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .education {
        padding-bottom: 7rem;
    }

    .experience {
        padding-bottom: 7rem;
    }

    .projects {
        padding-bottom: 7rem;
    }


    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active {
        display: block;
    }

    .navbar a {
        display:  block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;

    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;

    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .projects h2 {
        margin-bottom: 3rem;
    }

    .portfoilo h2 {
        margin-bottom: 3rem; 
    }

    .portfoilo-container {
        grid-template-columns: repeat(2, lfr);
    }

}


@media (max-width: 617px) {
    .portfoilo-container {
        grid-template-columns: 1lfr;
    }
}

@media (max-width: 450px){
    html {
        font-size: 50%;

    }

    .contact form .input-box input {
        width: 100;
    }
}

    @media (max-width: 365px) {
        .home-img img {
            width: 90vw;
        }

        .about-img img {
            width: 90vw;
        }

        .footer {
            flex-direction: column-reverse;
        }

        .footer p {
            text-align: center;
            margin-top: 2rem;
        }
    }



